services:
  - type: web
    name: microkids-backend
    env: node
    buildCommand: npm install && npx prisma generate && npx prisma migrate deploy
    startCommand: npm run start:dev
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PATH_EXCEL
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: PORT
        value: 4000
      - key: EMAIL_HOST
        value: smtp.gmail.com
      - key: EMAIL_PORT
        value: 587
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASSWORD
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: TWILIO_ACCOUNT_SID
        sync: false
      - key: TWILIO_AUTH_TOKEN
        sync: false
      - key: TWILIO_FROM_NUMBER
        sync: false
      - key: BASE_URL
        sync: false

